<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Products of the week
</h4>
<div class="ui grid">
  <div class="four wide column" *ngFor="let cloth of clothes">
    <div class="ui cards">
      <div class="card">
        <div class="image">
          <img [src]="cloth.image" alt="product image"/>
        </div>
        <div class="content">
          <div class="header">{{cloth.name}}</div>
          <div class="meta">
            <a>{{cloth.cat}}</a>
          </div>
          <div class="description">
            <strong>Price: {{cloth.price | currency: 'USD':true}}</strong>
          </div>
        </div>
        <div class="extra content">
          <span class="left floated">
            <button class="ui inverted blue button"  [routerLink]="['/detail', cloth.id]">View more</button>
          </span>
          <span class="right floated">
            <button class="ui inverted blue button" [routerLink]="['/clothes']" (click)="addToCart(cloth)">Buy now</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
